@charset "utf-8";

ul {
  padding: 1rem 1rem 0;
  border: 10px solid #aae5e7;
  list-style-type: none;
}

ul li {
  border-bottom: 4px dotted #6baeb3;
  margin-bottom: 1rem;
}

ul li::before {
  content: url(img/check.png);
  margin-right: 4px;
  vertical-align: middle;
}

ol {
  border: 10px solid #ffc43d;
  padding: 20px 40px 20px;
}

ol li {
  /* この下の二つが今回のポイント！ */
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: url(img/arrow.png) left bottom no-repeat;
}

/* 擬似クラスlast-of-type */
ol li:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  background: transparent;
}
