@charset "utf-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
