@charset "utf-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 40px auto 0;
  border: 1px solid #ccc;
  text-align: center;
}

.flex-container {
  /* flexboxの適用→子要素の横並べ */
  display: flex;
  justify-content: space-around;
}

.flex-item {
  /* width: 30%; */
  flex-basis: 30%;
  background: #09b;
  color: #fff;
  padding: 1em;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.1em;
  }
  .flex-container {
    /* すでにdisplay:flex;は適用済み */
    /* 子要素の横並びまたは縦並びを決める（初期値はrow...つまり横並び） */
    flex-direction: column;
  }
  .flex-item {
    margin: 0 1em 1em;
  }
}
