@charset "utf-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  /* 画像の下に生まれる謎隙間解除 */
  display: block;
}

/* reset end */

.container {
  /* グリッドレイアウトにする！と決めただけ */
  display: grid;
  /* これらプロパティでレイアウトを決めていく */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; これと同じ */
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-rows: 1fr 1fr; これと同じ */
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}

.container img {
  max-width: 100%;
}

@media screen and (max-width: 650px) {
  .container {
    /* width: 320px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
}
