* {
  box-sizing: border-box;
  margin: 0;
}

.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 8px;
  margin-right: 72px;
  border: 8px solid #871e09;
  background-color: #e66161;
}

.box span {
  color: red;
}

.last_box{
  margin-right: 0;
}