@charset "utf-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* brタグを非表示 */
.break {
  display: none;
}

.fv {
  /* flexbox start */
  /* display: flex; */
  /* 子要素の水平方向を"中央" */
  /* justify-content: center; */
  /* 子要素の垂直方向を"中央" */
  /* align-items: center; */
  /* flexbox end */
  width: 100%;
  height: 100vh;
  background: #000 url(../img/bg-hero-pc.jpg) center center / cover no-repeat;
}

.fv-content {
  /* position start */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position end */
  width: 60%;
  text-align: center;
  color: #fff;
}

/* 以下は見た目整えるおまけ */

.fv-content h1 {
  margin-bottom: 2rem;
}

.fv-content p {
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 478px) {
  /* brタグを表示 */
  .break {
    display: block;
  }
}
