@charset "utf-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  background: #678971;
}

.g-nav ul {
  display: flex;
}

.g-nav li {
  text-align: center;
}

/* 最後の.g-nav li以外に対して適用する */
.g-nav li:not(:last-of-type) {
  margin-right: 32px;
}

.g-nav span {
  display: block;
  font-size: 12px;
}
