@charset "utf-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 300px;
  /* padding: 1rem; */
  background: #e494e7;
}

.container img {
  width: 100%;
}

.content {
  padding: 1rem;
}

.tag {
  padding: 0.5rem;
  background: #4016d9;
  color: #fff;
}
